{% extends "components/empty aside.html" %}
{% block html_lang %}{{ article.lang }}{% endblock %}

{% block title %}{{ SITENAME }} - {{ article.title|striptags  }}{% endblock %}

{% block head %}
  {{ super() }}

  {% import 'translations.html' as translations with context %}
  {% if translations.entry_hreflang(article) %}
    {{ translations.entry_hreflang(article) }}
  {% endif %}

  {% if article.description %}
    <meta name="description" content="{{article.description}}" />
  {% endif %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}

{% endblock %}

{% block page %}
<section id="content" class="body container">
  <header>
    <h1 class="entry-title">
      <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
         title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h1>
 {% import 'translations.html' as translations with context %}
 {{ translations.translations_for(article) }}
  </header>
  <details class="post-info">
    <summary class="short-post-info">
      by <address class="inline">jakdak</address> 
        <span class="date">
          {% if article.modified %}
          (zmodyfikowano <time class="modified" datetime="{{ article.modified.isoformat() }}">
            {{ article.locale_modified }}</time>)
          {% else %}
          (utworzono <time class="published" datetime="{{ article.date.isoformat() }}">
            {{ article.locale_date }}</time>)
          {% endif %}
        </span>
    </summary>
    <div>
      Opublikowano: 
      <time class="published" datetime="{{ article.date.isoformat() }}">
        {{ article.locale_date }}
      </time>
    </div>
    {% if article.modified %}
    <div>
      Zmodyfikowano:
      <time class="modified" datetime="{{ article.modified.isoformat() }}">
        {{ article.locale_modified }}
      </time>
    </div>
    {% endif %}

    {% if article.category %}
    <div class="category">
        Kategoria: <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
    </div>
    {% endif %}
    {% if article.tags %}
    <div class="tags">
        Tagi:
        {% for tag in article.tags %}
            <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
        {% endfor %}
    </div>
    {% endif %}
  </details><!-- /.post-info -->
  <div class="entry-content">
    {{ article.content }}
  </div><!-- /.entry-content -->
</section>
{% endblock %}
