/* .highlight {
    font-family: 'Garamond', Georgia, 'Times New Roman', Times, serif;
} */

body>header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

header>element{
  margin: auto;
}

/* HEADER LINKS */

header>a {
  font-family: 'Roboto Slab', serif;
  font-size: xx-large;
  color: var(--h1-color);
}

/* RESPONSIVENESS */

@media (orientation: landscape) {
  body>header {
    flex-direction: row;
  }

  a#apps {order: -2;}
  a#papers {order: -1;}
}

@media (orientation: portrait) {
  body>header {
    flex-direction: column;
  }
}

/* LOGO */

body.home>header {
  height: 100vh;
  max-width: none;
}

@media (prefers-color-scheme: dark) {
  img#logo {
    filter: brightness(0) invert(1);
  }
}