<footer id="contentinfo" class="container">
    <div class="grid">
      <article>
        <header>Contact</header>
        <address>
          <p>Jakub Dakowski</p>
          <p><a href="https://github.com/PogromcaPapai">PogromcaPapai</a> on GitHub</p>
          <p><a href="mailto:">E-mail will be here</a></p>
        </address>
      </article>
      <article id="assets">
        <header>Assets</header>
        <p>
          Proudly powered by <a href="https://getpelican.com/">Pelican</a>, which takes great advantage of <a
            href="https://www.python.org/">Python</a>.
        </p>
        <p>
          Made using <a href="http://picocss.com/">pico.css</a> with custom CSS code.
        </p>
        <p>
          Hosted on Github Pages &lt;3
        </p>

      </article>
    </div>
    <center>Copyright &copy; <span id="date">2022</span>, Jakub Dakowski.</center>
    <script>document.getElementById('date').textContent = new Date().getFullYear()</script>
  </footer>