<div class="big-page">
    <header role="nav" aria-label="Subpage categories" id="main">
        <img srcset="{{ SITEURL }}/images/logo.svg" alt="jakdak.online" id="logo">
        <a href="" data-tooltip="Projects (empty for now)" aria-label="Apps" id="apps">apps</a>
        <a href="" data-tooltip="Longer texts (empty for now)" aria-label="Papers" id="papers">papers</a>
        <a href="" data-tooltip="The rest (empty for now)" aria-label="Stuff" id="stuff">stuff</a>
        <a href="" aria-label="Contact (empty for now)" data-tooltip="Find & contact me!" id="contact">jakdak</a>
    </header>
    <div id="blog-arrow">
        Scroll down for the blog
        <img srcset="{{ SITEURL }}/images/arrow-down-circle.svg" alt="">
    </div>
</div>