<div class="big-page">
    <header role="nav" aria-label="Subpage categories">
        <img srcset="{{ SITEURL }}/theme/images/logo.svg" alt="jakdak.online logo" id="logo">
        <a href="" data-tooltip="Projects" aria-label="Apps" id="apps">apps</a>
        <a href="" data-tooltip="Longer texts" aria-label="Papers" id="papers">papers</a>
        <a href="" data-tooltip="The rest" aria-label="Stuff" id="stuff">stuff</a>
        <a href="" aria-label="Contact" data-tooltip="Find & contact me!" id="contact">jakdak</a>
    </header>
    <div id="blog-arrow">
        Scroll down for the blog
        <img srcset="{{ SITEURL }}/theme/images/arrow-down-circle.svg" alt="Scroll down for blog">
    </div>
</div>