// Override default variables
$grey-hue: 259 !default;
$primary-hue: 292 !default;

header a, header
    font-family: 'Roboto Slab', serif
    color: var(--h1-color)

.entry-title
    margin-bottom: 0%

.inline
    display: inline

// Import Pico
@import "@picocss/pico@1.5.6/scss/pico.scss"
@import "header.css"

h1, h2, h3, h4
    font-family: 'Roboto Slab', serif

.short-post-info
    margin-bottom: 0%
    font-family: 'Roboto Slab', serif
    color: var(--h1-color) !important

address
    color: var(--h1-color) !important

details[open] .date
    visibility: hidden