// Override default variables
$grey-hue: 259 !default;
$primary-hue: 292 !default;

header a, header
    font-family: 'Roboto Slab', serif
    color: var(--h1-color)

.entry-title
    margin-bottom: 0%

.vcard.author
    margin-bottom: 0%


// Import Pico
@import "@picocss/pico@1.5.6/scss/pico.scss"
@import "header.css"


body